<app-navbar></app-navbar>

<div class="container main-container">
  <div class="main-page">
      <div class="title-element-container">
        <div class="text-24 text-center">
          <span>проЯсни сейчас</span>
<!--          <span>Вы уже там, где нужно, я помогу Вам</span>-->
        </div>
        <div class="text-24 text-center">
          <button type="button" class="btn btn-success">Заказать звонок</button>
        </div>
      </div>
  </div>

  <div class="tabs-container">
    <p-tabView>
      <p-tabPanel header="Помощь">
        <app-methodology></app-methodology>
      </p-tabPanel>
      <p-tabPanel header="Где мы">
        Гомель, улица Советская 60, служебный вход универмага напротив McDonald's
      </p-tabPanel>
      <p-tabPanel header="Отзывы">
        Отзывы предоставлены на условиях анонимности
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<app-footer></app-footer>
